################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Percyqaz.Json/bin/Debug/netstandard2.0
