################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Percyqaz.Json/bin/Debug/netstandard2.0
/Percyqaz.Json/obj
/Percyqaz.Json.Tests/bin/Debug/netcoreapp3.1
/Percyqaz.Json.Tests/obj
/.vs/Percyqaz.Json
/Percyqaz.Json/bin/Release/netstandard2.0
/Percyqaz.Json/bin
/Percyqaz.Json.Tests/bin/Release/netcoreapp3.1
/Percyqaz.Json.v3/obj
/Percyqaz.Json.Tests/bin/Release/net6.0
/Percyqaz.Json.v1/bin
/Percyqaz.Json.v1/obj
/Percyqaz.Json.v1.Tests/bin/Release/netcoreapp3.1
/Percyqaz.Json.v1.Tests/obj
